<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>BookInfoCl</servlet-name>
    <servlet-class>com.shxt.servlet.BookInfoCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCl</servlet-name>
    <servlet-class>com.shxt.servlet.LoginCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginCl</servlet-name>
    <servlet-class>com.shxt.admin.servlet.AdminLoginCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookJump</servlet-name>
    <servlet-class>com.shxt.servlet.BookJump</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>More_searchPaging</servlet-name>
    <servlet-class>com.shxt.servlet.More_searchPaging</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HighSearch</servlet-name>
    <servlet-class>com.shxt.servlet.HighSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>More_searchPaging</servlet-name>
    <url-pattern>/More_searchPaging</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HighSearch</servlet-name>
    <url-pattern>/HighSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookInfoCl</servlet-name>
    <url-pattern>/BookInfoCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCl</servlet-name>
    <url-pattern>/LoginCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginCl</servlet-name>
    <url-pattern>/AdminLoginCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookJump</servlet-name>
    <url-pattern>/BookJump</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookGoto</display-name>
    <servlet-name>BookGoto</servlet-name>
    <servlet-class>com.shxt.servlet.BookGoto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>More_BookInfo</servlet-name>
    <servlet-class>com.shxt.servlet.More_BookInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Page_GetBook</servlet-name>
    <servlet-class>com.shxt.servlet.Page_GetBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetBookInfo</servlet-name>
    <servlet-class>com.shxt.servlet.GetBookInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterCl</servlet-name>
    <servlet-class>com.shxt.servlet.RegisterCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Gouwuche</servlet-name>
    <servlet-class>com.shxt.servlet.Gouwuche</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetProvince</servlet-name>
    <servlet-class>com.shxt.servlet.GetProvince</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCountry</servlet-name>
    <servlet-class>com.shxt.servlet.GetCountry</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCity</servlet-name>
    <servlet-class>com.shxt.servlet.GetCity</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetResult</servlet-name>
    <servlet-class>com.shxt.servlet.GetResult</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchBookInfo</servlet-name>
    <servlet-class>com.shxt.servlet.SearchBookInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Page_GetBook1</servlet-name>
    <servlet-class>com.shxt.servlet.Page_GetBook1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>top_search</servlet-name>
    <servlet-class>com.shxt.servlet.top_search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZhuXiao</servlet-name>
    <servlet-class>com.shxt.servlet.ZhuXiao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderCl</servlet-name>
    <servlet-class>com.shxt.servlet.OrderCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.shxt.servlet.Upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlertCl</servlet-name>
    <servlet-class>com.shxt.servlet.AlertCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderForm</servlet-name>
    <servlet-class>com.shxt.servlet.OrderForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EvaluationCl</servlet-name>
    <servlet-class>com.shxt.servlet.EvaluationCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Youhui</servlet-name>
    <servlet-class>com.shxt.servlet.Youhui</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShouCang</servlet-name>
    <servlet-class>com.shxt.servlet.ShouCang</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EvaluationPageCl</servlet-name>
    <servlet-class>com.shxt.servlet.EvaluationPageCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SafeExit</servlet-name>
    <servlet-class>com.shxt.servlet.SafeExit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindPassword</servlet-name>
    <servlet-class>com.shxt.servlet.FindPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindQuestion</servlet-name>
    <servlet-class>com.shxt.servlet.FindQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.shxt.admin.servlet.AdminLogin</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>BookGoto</servlet-name>
    <url-pattern>/BookGoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>More_BookInfo</servlet-name>
    <url-pattern>/More_BookInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Page_GetBook</servlet-name>
    <url-pattern>/Page_GetBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBookInfo</servlet-name>
    <url-pattern>/GetBookInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterCl</servlet-name>
    <url-pattern>/RegisterCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gouwuche</servlet-name>
    <url-pattern>/Gouwuche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProvince</servlet-name>
    <url-pattern>/GetProvince</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCountry</servlet-name>
    <url-pattern>/GetCountry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCity</servlet-name>
    <url-pattern>/GetCity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetResult</servlet-name>
    <url-pattern>/GetResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBookInfo</servlet-name>
    <url-pattern>/SearchBookInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Page_GetBook1</servlet-name>
    <url-pattern>/Page_GetBook1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>top_search</servlet-name>
    <url-pattern>/top_search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhuXiao</servlet-name>
    <url-pattern>/ZhuXiao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderCl</servlet-name>
    <url-pattern>/OrderCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlertCl</servlet-name>
    <url-pattern>/AlertCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderForm</servlet-name>
    <url-pattern>/OrderForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EvaluationCl</servlet-name>
    <url-pattern>/EvaluationCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Youhui</servlet-name>
    <url-pattern>/Youhui</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShouCang</servlet-name>
    <url-pattern>/ShouCang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EvaluationPageCl</servlet-name>
    <url-pattern>/EvaluationPageCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SafeExit</servlet-name>
    <url-pattern>/SafeExit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPassword</servlet-name>
    <url-pattern>/FindPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindQuestion</servlet-name>
    <url-pattern>/FindQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBookList</servlet-name>
    <url-pattern>/GetBookList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookCl</servlet-name>
    <url-pattern>/BookCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchDDnum</servlet-name>
    <url-pattern>/searchDDnum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageCl</servlet-name>
    <url-pattern>/MessageCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalDingDanCl</servlet-name>
    <url-pattern>/PersonalDingDanCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavoriteCl</servlet-name>
    <url-pattern>/FavoriteCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalHouTai</servlet-name>
    <url-pattern>/PersonalHouTai</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyEvaluateCl</servlet-name>
    <url-pattern>/MyEvaluateCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeUserInfo</servlet-name>
    <url-pattern>/ChangeUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAdminList</servlet-name>
    <url-pattern>/GetAdminList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEvaList</servlet-name>
    <url-pattern>/GetEvaList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserList</servlet-name>
    <url-pattern>/GetUserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMessageList</servlet-name>
    <url-pattern>/GetMessageList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookInfo</servlet-name>
    <url-pattern>/AddBookInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBookInfo</servlet-name>
    <url-pattern>/EditBookInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookInfoOne</servlet-name>
    <url-pattern>/AddBookInfoOne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUpload</servlet-name>
    <url-pattern>/AdminUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchOrderType</servlet-name>
    <url-pattern>/SearchOrderType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyOrder</servlet-name>
    <url-pattern>/ModifyOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyOrderAll</servlet-name>
    <url-pattern>/ModifyOrderAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminYouhuiCl</servlet-name>
    <url-pattern>/AdminYouhuiCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YouhuiM</servlet-name>
    <url-pattern>/YouhuiM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminTuangouCl</servlet-name>
    <url-pattern>/AdminTuangouCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderFormStat</servlet-name>
    <url-pattern>/OrderFormStat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderFormStats</servlet-name>
    <url-pattern>/OrderFormStats</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderFormPaiHangStats</servlet-name>
    <url-pattern>/OrderFormPaiHangStats</url-pattern>
  </servlet-mapping>
  
  <!-- 连接池的配置 -->
  <servlet>
   <servlet-name>ServletConfigurator</servlet-name>
   <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
   <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GetBookList</servlet-name>
    <servlet-class>com.shxt.admin.servlet.GetBookList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookCl</servlet-name>
    <servlet-class>com.shxt.admin.servlet.BookCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchDDnum</servlet-name>
    <servlet-class>com.shxt.admin.servlet.searchDDnum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageCl</servlet-name>
    <servlet-class>com.shxt.servlet.MessageCl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PersonalDingDanCl</servlet-name>
    <servlet-class>com.shxt.servlet.PersonalDingDanCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavoriteCl</servlet-name>
    <servlet-class>com.shxt.servlet.FavoriteCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalHouTai</servlet-name>
    <servlet-class>com.shxt.servlet.PersonalHouTai</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyEvaluateCl</servlet-name>
    <servlet-class>com.shxt.servlet.MyEvaluateCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeUserInfo</servlet-name>
    <servlet-class>com.shxt.servlet.ChangeUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>com.shxt.admin.servlet.AddAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAdminList</servlet-name>
    <servlet-class>com.shxt.admin.servlet.GetAdminList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEvaList</servlet-name>
    <servlet-class>com.shxt.admin.servlet.GetEvaList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserList</servlet-name>
    <servlet-class>com.shxt.admin.servlet.GetUserList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMessageList</servlet-name>
    <servlet-class>com.shxt.admin.servlet.GetMessageList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookInfo</servlet-name>
    <servlet-class>com.shxt.admin.servlet.AddBookInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditBookInfo</servlet-name>
    <servlet-class>com.shxt.admin.servlet.EditBookInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookInfoOne</servlet-name>
    <servlet-class>com.shxt.admin.servlet.AddBookInfoOne</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUpload</servlet-name>
    <servlet-class>com.shxt.admin.servlet.AdminUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchOrderType</servlet-name>
    <servlet-class>com.shxt.admin.servlet.SearchOrderType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyOrder</servlet-name>
    <servlet-class>com.shxt.admin.servlet.ModifyOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyOrderAll</servlet-name>
    <servlet-class>com.shxt.admin.servlet.ModifyOrderAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminYouhuiCl</servlet-name>
    <servlet-class>com.shxt.admin.servlet.AdminYouhuiCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>YouhuiM</servlet-name>
    <servlet-class>com.shxt.servlet.YouhuiM</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminTuangouCl</servlet-name>
    <servlet-class>com.shxt.admin.servlet.AdminTuangouCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderFormStat</servlet-name>
    <servlet-class>com.shxt.admin.servlet.OrderFormStat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderFormStats</servlet-name>
    <servlet-class>com.shxt.admin.servlet.OrderFormStats</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderFormPaiHangStats</servlet-name>
    <servlet-class>com.shxt.admin.servlet.OrderFormPaiHangStats</servlet-class>
  </servlet>























</web-app>